.dropdown {
    &.show > .btn-primary {
        background: lighten($primary, 10%);
        border-color: lighten($primary, 10%);

        &:focus,
        &:active,
        &:active:focus {
            box-shadow: none;
        }
    }

    .dropdown-menu {
        .dropdown-item {
            height: 2.5rem;
            padding-top: 0.5rem;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: #4ACBFF33;
            }
        }
    }
}