.dropdown {
    .btn-primary {
        &:hover {
            i, span, p {
                color: $white;
            }
        }
    }

    &.show > .btn-primary {
        background: darken($primary, 7%);
        border-color: darken($primary, 7%);

        i, span, p {
            color: $white;
        }

        &:focus,
        &:active,
        &:active:focus {
            box-shadow: none;
        }
    }

    .dropdown-menu {
        .dropdown-item {
            height: 2.5rem;
            padding-top: 0.5rem;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: #ffc10733;
            }
        }
    }
}