// Colours

$primary: #4ACBFF;
$secondary: #FF9AF3;
$tertiary: #FFFF4D;
$black: #222;
$white: #eee;
$grey: #D6DDE4;

// Fonts

$font-general: 'Poppins', sans-serif;
$font-brand: 'Permanent Marker', sans-serif;