@import './variables';
@import './mixins';
@import './width';
@import './buttons';
@import './dropdown';

* {
    font-family: $font-general;
    color: $black;
}

h1, h2, .h1, .h2 {
    font-family: $font-brand;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
    padding-top: 60px;
}
