@import './variables';
@import './mixins';
@import './width';

* {
    font-family: $font-general;
    color: $black;
}

h1, h2 {
    font-family: $font-brand;
}

.btn-primary {
    color: $black;
    background: $primary;
    border-color: $primary;

    &:hover {
        color: $white;
        background: darken($primary, 7%);
        border-color: darken($primary, 7%);
    }
}

.btn-secondary {
    color: $black;
    background: $secondary;
    border-color: $secondary;

    &:hover {
        color: $black;
        background: darken($secondary, 10%);
        border-color: darken($secondary, 10%);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
    padding-top: 60px;
}
