@import "./../../../sass/variables";

.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    background: $primary;

    a {
        text-decoration: none;

        h3 {
            color: #222;
            font-family: 'Notable', sans-serif;
        }
    }

    .bootstrap-sizes {
        width: calc(100% - 172px);
    }
}