.header-nav {
    height: 60px;
    background: #ffc107;

    a {
        text-decoration: none;

        h3 {
            color: #222;
            font-family: 'Notable', sans-serif;
        }
    }
}