<div class="play-container container my-3 overflow-auto">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <h3 class="h2">Play Game</h3>
            <h5 class="play-subtitle">Choose words to fit the following categories.</h5>
        </div>
        <button class="btn btn-primary ml-3" (click)="randomiseNewGame()" [disabled]="gameStarted && !gameEnded">
            <i class="fas fa-gamepad pr-0 pr-md-1"></i> 
            <span class="d-none d-md-inline">New Game</span>
        </button>
    </div>

    <div class="card mt-3">
        <div class="d-flex card-body game-play-board" *ngIf="!gameEnded">
            <div class="game-timer d-none d-md-block">
                <game-timer></game-timer>
            </div>
            <div class="d-flex flex-column w-100 w-md-50">
                <mat-form-field *ngFor="let control of formControls">
                    <input matInput [placeholder]="control.title" [formControl]="control.field" [readonly]="!gameStarted">
                </mat-form-field>
            </div>
            <div class="d-md-flex flex-column justify-content-center align-items-center w-50 d-none">
                <div class="d-flex justify-content-center align-items-center letter-panel">
                    <h3 class="random-letter mb-0">{{gameLetter}}</h3>
                </div>
            </div>
        </div>
        <div class="d-flex card-body game-answer-board" *ngIf="gameEnded">
            <div class="letter-panel d-none d-md-flex justify-content-center align-items-center">
                <h3 class="random-letter mb-0">{{gameLetter}}</h3>
            </div>
            <div class="d-flex flex-column w-100 w-md-50">
                <div class="d-flex flex-row justify-content-between mb-2" *ngFor="let control of formControls">
                    <div class="game-answers">
                        <p class="category-title font-weight-bold mb-2">{{control.title}}</p>
                        <p class="category-answer mb-1">{{control.field.value || 'No answer provided!!'}}</p>
                    </div>
                    <score-button [control]="control" (calculateScore)="calculateScore()"></score-button>
                </div>
            </div>
            <div class="d-md-flex flex-column justify-content-center align-items-center w-50 d-none">
                <h5>Total Score</h5>
                <h3 class="total-score mb-0">{{totalScore}}</h3>
            </div>
        </div>
    </div>
</div>
<play-game-fixed-footer [letter]="gameLetter" [totalScore]="totalScore"></play-game-fixed-footer>
