@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.play-container {
    @include media-breakpoint-down(sm) {
        margin-bottom: 100px !important;
    }
}

.random-letter {
    font-size: 120px;
    font-weight: bold;
}