.header-nav {
    height: 60px;
    background: #d39e00;
    color: #222;
    font-family: 'Notable', sans-serif;
}

.home-banner {
    background-image: url('./../assets/images/dawid-zawila-fiu89zdeTQI-unsplash.jpg');
    height: 365px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
}

.banner-overlay {
    background-color:rgba(0,0,0,0.4);
    width: inherit;
    height: inherit;
    color: #eee;
    text-align: center;
}

.banner-overlay h1 {
    font-family: 'Notable', sans-serif;
    font-size: 70px;
}