<!--The content below is only a placeholder and can be replaced.-->
<div class="header-nav px-4 d-flex align-items-center">
  <h3>6 Words</h3>
</div>
<div class="home-banner mb-3">
  <div class="banner-overlay d-flex justify-content-center align-items-center flex-column">
    <h1>6 Words</h1>
    <h5 class="w-50 mt-3">A game of 6 words...choose words that fit 6 different categories and 
      begin with a chosen letter...but be sure not to choose the same words as your friends.</h5>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

