<div class="play-fixed-footer d-block d-md-none w-100 px-5 py-1">
    <div class="d-flex justify-content-between align-items-center h-100">
        <div class="footer-letter px-2 pt-2 d-flex justify-content-center align-items-center">
            <h3 class="random-letter">{{letter}}</h3>
        </div>
        <game-timer *ngIf="!gameEnded"></game-timer>
        <div class="d-flex flex-column align-items-center" *ngIf="gameEnded">
            <p class="mb-0">Total Score</p>
            <h3 class="mb-0">{{totalScore}}</h3>
        </div>
    </div>
</div>
