@import './../../../sass/variables';

.play-fixed-footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: $primary;

    .footer-letter {
        border: 2px solid $black;
        border-radius: 5px;
        width: 68px;
        height: 64px;

        .random-letter {
            font-size: 50px;
            font-weight: bold;
        }
    }
}