@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./../../../sass/variables";

.home-banner {
    background-image: url('./../../../assets/images/jumbled-letter.jpg');
    height: calc(100vh - 160px);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-overlay {
    background-color:rgba(255,255,255,0.3);
    width: inherit;
    height: inherit;
    text-align: center;

    .banner-content {
        background-color: $tertiary;
        padding: 0 20px 30px 20px;
        box-shadow: 10px 10px $black;
        border-radius: 4px;

        @include media-breakpoint-up(sm) {
            padding: 0 40px 30px 40px;
        }  
    
        .title {
            font-size: 60px;
            color: $primary;
            text-shadow: 5px 5px $black;
    
            @include media-breakpoint-up(sm) {
                font-size: 105px;
                text-shadow: 7px 7px $black;
            }  
    
            @include media-breakpoint-up(md) {
                font-size: 130px;
                text-shadow: 8px 8px $black;
            } 
            
            @include media-breakpoint-up(lg) {
                font-size: 170px;
                text-shadow: 9px 9px $black;
            } 
        }
    
        h5 {
            font-size: 16px;
    
            @include media-breakpoint-up(md) {
                font-size: 20px;
            }
        }
    
        .btn {
            width: 240px;
            padding: 14px;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 8px 8px $black;
            
            @include media-breakpoint-up(md) {
                width: 400px;
                padding: 20px;
                font-size: 25px;
            }  
        }
    }
}

.scroll-to-rules {
    background-color: $tertiary;
    min-height: 100px;

    h2 {
        font-size: 70px;

        &:hover {
            color: $primary;
        }
    }
}

.home-section {
    min-height: 300px;

    &-blue {
        background-color: $primary;
    }

    &-pink {
        background-color: $secondary;
    }

    &-yellow {
        background-color: $tertiary;
    }
    
    .section-content {
        min-height: 300px;
    }
}