@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./../../../sass/variables";

.home-banner {
    background-image: url('./../../../assets/images/jumbled-letter-greyscale.jpg');
    height: calc(100vh - 160px);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-overlay {
    background-color:rgba(255,255,255,0.5);
    width: inherit;
    height: inherit;
    color: $black;
    text-align: center;

    .title-container {
        position: relative;
    }

    .title,
    .title-shadow {
        font-size: 80px;

        @include media-breakpoint-up(sm) {
            font-size: 105px;
        }  

        @include media-breakpoint-up(md) {
            font-size: 130px;
        } 
        
        @include media-breakpoint-up(lg) {
            font-size: 170px;
        }  
    }

    .title {
        color: $primary;
        position: absolute;

        &:hover {
            background: url('./../../../assets/images/jumbled-letter.jpg');
            background-repeat: no-repeat;
            background-size: 115%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .title-shadow {
        margin-left: 5px;
        margin-top: 10px;
        color: $black;
    }

    h5 {
        font-size: 16px;

        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }

    .btn {
        width: 300px;
        padding: 16px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 4px 5px 5px 3px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        
        @include media-breakpoint-up(md) {
            width: 400px;
            padding: 20px;
            font-size: 25px;
        }  
    }
}

.home-section {
    min-height: 200px;

    &-even {
        background-color: #E1E1E1;
    }
    
    .section-content {
        min-height: 200px;
    }
}