<div class="home-banner">
    <div class="banner-overlay d-flex justify-content-center align-items-center flex-column">
        <h1>6 Words</h1>
        <h5 class="w-75 w-lg-50 mt-3">Choose words that fit into 6 different categories...but be sure not to choose the same words as your friends.</h5>
        <div class="d-flex flex-column flex-sm-row align-items-center mt-3">
            <button mat-raised-button type="button" class="btn btn-primary mr-sm-3 mb-2 mb-sm-0" (click)="setupNewGame()">Setup New Game</button>
            <button mat-raised-button type="button" class="btn btn-secondary" (click)="randomiseGame()">Randomise Game</button>
        </div>
    </div>
</div>
<div class="home-section">
    <div class="container py-3">
        <div class="d-flex flex-column justify-content-around section-content">
            <h3 class="h2 font-weight-bold mb-3">Game Basics</h3>
            <h5>You will be given 6 categories, i.e. Boys names, movie titles, etc.</h5>
            <h5>Can you choose 6 answers that all begin with a given letter and fit each category?</h5>
            <h5>Oh, I almost forgot, you'll be timed too!!</h5>
        </div>
    </div>
</div>
<div class="home-section home-section-even">
    <div class="container py-3">
        <div class="d-flex flex-column justify-content-around section-content align-items-end">
            <h3 class="h2 font-weight-bold mb-3">Customise your game</h3>
            <h5>You can setup the game how you wish.</h5>
            <h5>Click 'Setup Game' and choose the categories you would like to play.</h5>
            <h5>Don't have the time? 'Randomise Game' will select the categories for you.</h5>
        </div>
    </div>
</div>
<div class="home-section">
    <div class="container py-3">
        <div class="d-flex flex-column justify-content-around section-content">
            <h3 class="h2 font-weight-bold mb-3">Play with friends</h3>
            <h5>Send your game link to friends and you can play the same game.</h5>
            <h5>Aim to select answers that your friends will not choose.</h5>
            <h5>Once the time is up, calculate your score.</h5>
        </div>
    </div>
</div>