<div class="home-banner">
    <div class="banner-overlay d-flex justify-content-center align-items-center flex-column">
        <h1>6 Words</h1>
        <h5 class="w-75 w-lg-50 mt-3">Choose words that fit into 6 different categories...but be sure not to choose the same words as your friends.</h5>
        <div class="d-flex flex-column flex-sm-row align-items-center mt-3">
            <button mat-raised-button type="button" class="btn btn-primary mr-sm-3 mb-2 mb-sm-0" (click)="setupNewGame()">Setup New Game</button>
            <button mat-raised-button type="button" class="btn btn-secondary" (click)="randomiseGame()">Randomise Game</button>
        </div>
    </div>
</div>
<div class="container mt-3">
    <h3 class="h2">How To Play...</h3>
</div>