<div class="setup-container container mt-3">
    <div class="d-flex flex-column">
        <h3 class="h2">Setup New Game</h3>
        <h5 class="setup-subtitle">Customise your game by selecting the categories you play</h5>
    </div>

    <div class="card my-3">
        <div class="selected-categories-bar bg-light mx-3 mt-3 p-3 d-none d-md-flex justify-content-between align-items-center" 
             *ngIf="selectedCategoryCount < 6">
            <h5 class="mb-0 font-weight-bold">{{selectedCategoryCount}} Categories Selected</h5>  
            <h5 class="mb-0">Select {{6-selectedCategoryCount}} more categories</h5>
        </div>
        <div class="selected-categories-bar play-now bg-primary mx-3 mt-3 p-3 d-none d-md-flex justify-content-between align-items-center"
             *ngIf="selectedCategoryCount === 6"
             (click)="playGameWithSetup()">
            <h5 class="mb-0 font-weight-bold">{{selectedCategoryCount}} Categories Selected</h5>
            <h2 class="mb-0">Play Now</h2>
        </div>
        <div class="d-flex justify-content-around flex-wrap card-body">
            <div class="btn category-btn m-2 my-md-3 mx-md-2 d-flex justify-content-center align-items-center" 
                *ngFor="let category of categories"
                [ngClass]="{ 'btn-primary': category.selected, 'btn-grey': !category.selected, 
                                    'disabled': selectedCategoryCount === 6 && !category.selected }"
                (click)="selectCategory(category)">
                <i class="{{category.icon}} fa-fw mr-md-1"></i>
                <span class="d-none d-md-inline">{{category.title}}</span>
            </div>
        </div>
    </div>
</div>

<fixed-footer>
    <div class="selected-categories-bar d-flex justify-content-center align-items-center h-100" 
        *ngIf="selectedCategoryCount < 6">
        <p class="mb-0 font-weight-bold">{{selectedCategoryCount}} Categories Selected</p>
    </div>
    <div class="selected-categories-bar play-now d-flex justify-content-center align-items-center h-100"
        *ngIf="selectedCategoryCount === 6"
        (click)="playGameWithSetup()">
        <h2 class="mb-0">Play Now</h2>
    </div>
</fixed-footer>