@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./../../../sass/variables";

.setup-container {
    @include media-breakpoint-down(sm) {
        margin-bottom: 100px !important;
        
        .setup-subtitle {
            font-size: 16px;
        }
    }

    .category-btn {
        width: 210px;
        height: 64px;

        .fas,
        .far {
            font-size: 22px;
        }

        @include media-breakpoint-down(sm) {
            width: 75px;

            .fas,
            .far {
                font-size: 30px;
            }
        }

        &.disabled {
            cursor: default;
        }
    }

    .selected-categories-bar {
        height: 72px;
        border-radius: 5px;

        &.play-now {
            &:hover {
                cursor: pointer;

                h2 {
                    color: $tertiary;
                    transition: color 0.5s ease-in-out;
                }
            }
        }
    }
}